<div>
	<p>
	On this page you can find links to all kinds of software related 
	stuff that I find interesting for one reason or another.
	Software I've made can be found <a href=/projects/top.php>here</a>.
	</p>
</div>
<div>
  <%= generate_button('linux', '/software/linux', false) %>
  <%= generate_button('perl', '/software/perl', false) %>
  <%= generate_button('sdl', '/software/sdl', false) %>
  <%= generate_button('vim', '/software/vim', false) %>
  <%= generate_button('git', 'https://github.com/Vokda', true) %>
</div>

